*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.full{
    /* position:relative; */
    height:105px;
    width:1500px;
    /* border: 1px solid; */
    background-image: linear-gradient( rgb(144,144,144), rgb(164,164,164));
}
.view{
    position:relative;
    top: -105px;
    width:900px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;

}
.header{
    direction:rtl;
    background-image: linear-gradient( rgb(144,144,144), rgb(164,164,164));
    /* width:900px; */
    height:105px;
    /* padding-top: 50px; */
    padding-right: 160px;
   

}
span .large-img{
    position :relative;
}
 nav{
     position:relative;
     top:-45px;

 }


nav > ul > li {
    /* width:100px; */
    margin: 65px 0px;

}
ul {
    list-style: none;
    margin: 0px;
    padding:0;
}
.top-menu{
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    position:relative;
    top:-5px;
  

}
.logo , .home {
    position: absolute;
}
.logo{
    /* top:-25px;
    right:-50; */
    left: 760px;
    /* bottom:5px; */
    /* margin-top:10px; */
}
.home{
    left: 720px;
    /* bottom:-80px; */
    margin-top:22px; 
 
}
.menu_sep{

    height:20px;
    width:5px;
    margin-left: 10px;
}
.menu-block{
    position: relative;
    padding-bottom: 20px;
}
.drop{
    position:absolute;
    background-color:  rgb(164,164,164);
    top:35px;
    right:15px;
    border-left: 2px solid white;
    width:120px;
    display:none;
    z-index:10;
}
.drop > a {
    display:block;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding:5px;
}
a:hover{
    color:blue;

}
.menu-block:hover > .drop{
    display:block;
}
.pic1,.pic2,.pic3{
    width:33%;
    /* border:1px solid;
    height:100px; */

}
/* .pic1{
    background-image: url("\images\images\pic1.jpg");
} */
.main1{
margin-top: 40px;
}
.large-img{
    position: relative;
    width:100%;
    /* border:1px solid;
    border-bottom-right-radius: 25px;  */
}
.image1{
    border-bottom-right-radius: 25px; 
    width:97%;
  
}
.parag-over-pic{
    position: absolute;
    background-color: rgba(120, 120, 120, 0.70);
    bottom:10px;
    right:20px;
    width:80%;
    height:100px;
    color:white;
    font-family: arial;
    font-size: 13px;
    text-align: right;
    border-bottom-right-radius: 25px; 

    padding: 10px 10px 0 0;
}
.parag-over-pic > h4{
    margin:0;
    font-size: 14px;

}
.parag-over-pic > p{
    margin-top: 7px;
    line-height: 1;
}
#button-search {
    background: url("/images/images/search_button.png") no-repeat;
    width:25px;
    height: 21px;
    margin-top:20px;
 }
 .search> a{
    color:white;
    font-family: arial;
    font-size: 13px;
    text-decoration: none;

 }
 .margin-left{
     margin-left: 10px;
     font-size: 12px;
     font-weight: bold;
     color: white;
     font-family: arial;
 }
 .search{
     display:flex;
     justify-content: flex-end;
    align-items: flex-end;
    /* width:250px; */
 }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
 
 .white{
    color:white;
    font-family: arial;
    font-size: 13px;  
    float:left; 
    padding-left:5pxl;
 }
 .second-pointer{

     display:none;
 }
 .white:hover > .second-pointer{
     display:inline;
 }
 .white:hover > .first-pointer{
    display:none;
}
 .small-img{
     margin-top:10px;
     width:97%;
 text-align: right;
     height:216px;
     border:1px solid rgb(200,200,200);
     border-top-right-radius: 25px;
     background-image: url("/images/images/cube_bg.png");
     background-repeat: round;
 }
 .small-img > h3{
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
    color: rgb(87, 87, 87);
    padding-right:15px;
    margin : 0 0 15px 0;
 }
 .small-nav>ul>li{
    margin:0;
 }
.inside{
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
}
.small-nav>ul>li>a{
    color: rgb(87, 87, 87);
    font-size: 14px;
    font-family: arial;
    line-height: 1.8;
}
.white:hover{
    color:blue;
}