*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial;
}
.full{

    height:105px;
    width:1500px;

    background-image: linear-gradient( rgb(144,144,144), rgb(164,164,164));
}
.view{
    position:relative;
    top: -105px;
    width:900px;
    margin: 0 auto;
    font-family: arial;
    color:rgb(87, 87, 87);
}
.flex-container{
    display: flex;
    justify-content: space-evenly;

}
.header{
    direction:rtl;
    background-image: linear-gradient( rgb(144,144,144), rgb(164,164,164));

    height:105px;
 
    padding-right: 160px;
   

}
span .large-img{
    position :relative;
}
 nav{
 
     top:-45px;

 }


nav > ul > li {

    margin: 20px 0px;

}
ul {
    list-style: none;
    margin: 0px;
    padding:0;
}
.top-menu{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    position:relative;
    top:-5px;
}
.logo{
    position: absolute;
    left: 760px;
}
.menu_sep{

    height:20px;
    width:5px;
    margin-left: 10px;
}
.menu-block{
    position: relative;
    padding-bottom: 20px;
}
.drop{
    position:absolute;
    background-color:  rgb(164,164,164);
    top:35px;
    right:15px;
    border-left: 2px solid white;
    width:120px;
    display:none;
    z-index:10;
}
.drop > a {
    display:block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding:5px;
    color:white;
}
a:hover{
    color:blue;
}
.menu-block:hover > .drop{
    display:block;
}
.pic1{
    width:33%;
}
.main1{
margin-top: 40px;
}
.large-img{
    position: relative;
    width:100%;
}
.image1{
    border-bottom-right-radius: 25px; 
    width:97%; 
}
.parag-over-pic{
    position: absolute;
    background-color: rgba(120, 120, 120, 0.70);
    bottom:10px;
    right:20px;
    width:80%;
    height:100px;
    color:white;
    font-size: 13px;
    text-align: right;
    border-bottom-right-radius: 25px; 
    padding: 10px 10px 0 0;
}
.parag-over-pic > h4{
    margin:0;
    font-size: 14px;
}
.parag-over-pic > p{
    margin-top: 7px;
    line-height: 1;
}
#button-search {
    background: url("/images/images/search_button.png") no-repeat;
    width:25px;
    height: 21px;
    margin-top:20px;
 }
 .search> a{
    font-size: 13px;
    text-decoration: none;
 }
 .margin-left{
     margin-left: 10px;
     font-size: 12px;
     font-weight: bold;
     color: white;
 }
 .search{
     display:flex;
     justify-content: flex-end;
    align-items: flex-end;
 }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
 .white{
    color:white;
    font-size: 13px;  
    float:left; 
    padding-left:5pxl;
 }
 .second-pointer{
     display:none;
 }
 .white:hover > .second-pointer{
     display:inline;
 }
 .white:hover > .first-pointer{
    display:none;
}
 .small-img{
     margin-top:10px;
     width:97%;
    text-align: right;
     height:216px;
     border:1px solid rgb(200,200,200);
     border-top-right-radius: 25px;
     background-image: url("/images/images/cube_bg.png");
     background-repeat: round;
 }
 .small-img > h3{
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(87, 87, 87);
    padding-right:15px;
    margin : 0 0 15px 0;
 }
 .small-nav>ul>li{
    margin:0;
 }
.inside{
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.small-nav>ul>li>a , .small-img>.white{
    color: rgb(87, 87, 87);
    font-size: 14px;
    line-height: 1.8;
}
.white:hover{
    color:blue;
}
.change, .small-img>.white{
    margin-top:5px;
    margin-right:20px;
    margin-left: 20px;
}
footer{
    display:flex;
    height:38px;
    width:100%;
    background-image: linear-gradient( rgb(144,144,144), rgb(164,164,164));
    position: fixed;
    bottom:0px;
    align-items: center;

}
footer>nav>ul{
    margin:0 280px;
    direction:rtl;
}
.footer-li{
    margin-top: 5;
}
.footer-li>a{
    font-size: 12px;
    font-weight: normal;

}
#black{
    color:black;
}
#black:hover{
    text-decoration: underline;
}
.img-contact1{

    background-image: url("/images/images/side_menu_sprite.png");
    width:125px;
    height:40px;
    border-top: 1px solid  rgba(120, 120, 120, 0.70);
}
.img-contact1>p{
    margin:8px 20px;
}
.main-contact1, .main-contact2{
    direction:rtl;
    margin-left:auto;

    height:100pxl;
    margin-top: 30px;
    
 
}
.flex{
    display:flex;

}
.line{
 
    margin-right: 10px;
    height:25px;
}
.column{
    border:1px solid  rgba(120, 120, 120, 0.70);
    border-top-right-radius: 10%;
    background-image: url("/images/images/cube_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right:20px;
    padding-left:20px;
    padding-bottom: 20px;
    
}
.main-contact2{
    margin-top:  2px;
    margin-right:  137px;
}
.tiny-font{
    font-size: 15px;
}
.flex1{
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 20px;
    width:300px;
    margin-top:5px;
}
.form{
    width:65%;
    margin-bottom: 5px;
}
.label{
    width:35%;
}
submit{
    width:80px;
    height: 20px;
    color:white;
    margin-right: 200px;
    margin-top: 10px;
    text-align: center;
    border-top-right-radius: 20%;
    background-image: linear-gradient( rgb(142, 177, 241),rgb(37, 5, 128));
}
.column2{
    width:450px;
}
.blue-font{
    color:rgb(31, 100, 204);
}
.column3{
    margin: 0 50px 0px 0;  
}
.bold{
    font-weight: bold;
}
.column3>p{
    margin:0;
}
input:invalid{
    border: 1px solid red;
}
